---
- name: testing
  hosts: all
  gather_facts: False
  become: True
  tasks:
  - name: Installing apache
    apt:
      name: apache2
      state: latest
      update_cache: yes
  
  - name: Changing content to html file
    copy:
      src: ./index.html
      dest: /var/www/html/index.html
...
